{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="en"{% endblock %}
{% block title %}JAC Home{% endblock %}
{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-left"><img style="height: 30px; margin: 10px;" src="https://s3.amazonaws.com/jachome.mx/home/logo.png"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Modelos<span class="sr-only">(current)</span></a></li>
          <li><a href="/documents">Documentos</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <form class="navbar-form navbar-left" method="post" action="/cars/search">
                <div class="form-group">
                  <input name="search_term" type="text" class="form-control" placeholder="Busqueda">
                </div>
                <button type="submit" class="btn btn-default">Buscar</button>
              </form>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success">
        <li>{{ message }} </li>
     </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="row">
        {% for f in cars %}
        <div class="col-lg-2 col-md-6">
            <div class="card card-block" style="margin-top: auto; margin-left: auto;">
             <a href="/model/{{f.endpoint}}"><img class="card-img-top" data-src="{{f.image_url}}"  src="{{f.image_url}}" data-holder-rendered="true" style="width: auto; height: auto; max-height: 220px; max-width: 100%; display: block; align-self: center; margin-right: auto; margin-left: auto;"></a>
              <div class="card-block">
               <h4 class="card-title" style="text-align: center;"><a href="/model/{{f.endpoint}}">{{f.name}}</a></h4>
              </div>
              </div>
            </div>
        {% endfor %}
    </div>
</div>

<style>
.headermessage {
  margin: 19px;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

a {
    color: black;
}



</style>
{% endblock %}