{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="en"{% endblock %}
{% block title %}JAC Home{% endblock %}
{% block navbar %}
{{nav.navbar_home.render()}}
{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success">
        <li>{{ message }} </li>
     </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="row">
        {% for f in cars %}
        <div class="col-lg-2 col-md-6">
            <div class="card card-block" style="margin-top: auto; margin-left: auto;">
             <a href="/model/{{f.endpoint}}"><img class="card-img-top" data-src="{{f.image_url}}"  src="{{f.image_url}}" data-holder-rendered="true" style="width: auto; height: auto; max-height: 220px; max-width: 100%; display: block; align-self: center; margin-right: auto; margin-left: auto;"></a>
              <div class="card-block">
               <h4 class="card-title" style="text-align: center;"><a href="/model/{{f.endpoint}}">{{f.name}}</a></h4>
              </div>
              </div>
            </div>
        {% endfor %}
    </div>
</div>

<style>
.headermessage {
  margin: 19px;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

a {
    color: black;
}



</style>
{% endblock %}