{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="en"{% endblock %}
{% block title %}JAC Home{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-left"><img style="height: 30px; margin: 10px;" src="https://s3.amazonaws.com/jachome.mx/home/logo.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Modelos<span class="sr-only">(current)</span></a></li>
        <li><a href="/documents">Documentos</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <form class="navbar-form navbar-left" method="post" action="/cars/search">
              <div class="form-group">
                <input name="search_term" type="text" class="form-control" placeholder="Busqueda">
              </div>
              <button type="submit" class="btn btn-default">Buscar</button>
            </form>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row text-center">
        <h3 class="headermessage">{{name}}</h3>
    </div>
    <div class="row">
        {% for d in docs %}
        <div class="col-sm-3">
            <div class="card card-block" style="margin-top: auto; margin-left: auto;">
              <img class="card-img-top" data-src="holder.js/100px180/" alt="100%x180" src="{{ d.image_url }}" data-holder-rendered="true" style="height: 220px; width: 100%; display: block;">
              <div class="card-block">
                <h4 class="card-title">{{d.name}}</h4>
                <p class="card-text">{{d.subtitulo}}</p>
                <a style="margin: 5 auto; display: block;" onclick="copyURI(event)" href="{{d.url}}" id="myInput" class="btn btn-primary">Copiar URL</a>
                <a style="margin: 5 auto; display: block;" href="{{d.url}}" target="_blank" class="btn btn-primary">Descargar</a>
              </div>
              </div>
            </div>
        {% endfor %}
    </div>
</div>

<script>
function copyURI(evt) {
    evt.preventDefault();
    navigator.clipboard.writeText(evt.target.getAttribute('href')).then(() => {
      alert('URL copiada al portapapeles!')
    }, () => {
      alert('Hubo un error!')
    });
}
</script>

<style>
.headermessage {
  margin: 19px;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.image-block {
    border: 3px solid white ;
    background-color: black;
    padding: 0px;    
    margin: 0px;
    height:310px;
    text-align: center;
    vertical-align: bottom;
}
.image-block > p {
    width: 100%;
    height: 100%;
    font-weight: normal;
    font-size: 19px;
    padding-top: 150px;
    background-color: rgba(3,3,3,0.0);
    color: rgba(6,6,6,0.0);
}
.image-block:hover > p {
    background-color: rgba(3,3,3,0.5);    
    color: white;    
}

.btn-primary{
  margin: 5px;
  background-color: black;
  border-color: black;
}

a {
    color: black;
}

.card-img-top {
  object-fit: scale-down;
  width: 100%;
  height: 250px;
}

</style>
{% endblock %}